.gs-carousel{
    width: auto;
    height: 200px;
    margin-bottom: 100px;
}
.gm-carosail-text{
    background-color: rgba(127, 255, 212, 0.273);
    border-radius: 10px;
    
}

.gm-getstarted-btn{
    text-decoration: none;
    background-color: rgb(255, 0, 238);
    color: rgb(255, 255, 255);
    font-size: large;
    padding: 10px 15px;
    border-radius: 5px;
}

.gm-Explore-img{
    width: 400px;
    height: 400px;
    margin-right: 20px;
    
}

.gm-ready-section{
    background-color: rgb(49, 156, 223);
    padding: 20px 30px;
}

.gm-btn-sub{ 
    margin-left: 350px;
    margin-right: 40px;
    margin-top: 60px;

}



/* Meet Our Successfull  */

  
  .card-deck {
    margin: 0 -15px;
    justify-content: space-between;
  }
  
  .card-deck .card {
    margin: 0 0 1rem;
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .card {
      -ms-flex: 0 0 48.7%;
      flex: 0 0 48.7%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .card-deck .card {
      -ms-flex: 0 0 32%;
      flex: 0 0 32%;
    }
  }
  
  @media (min-width: 992px)
  {
    .card-deck .card {
      -ms-flex: 0 0 24%;
      flex: 0 0 24%;
    }
  }
  



  /* whatsapp live app  */
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}







